<main>

  <!-- This device can be implemented only in Laptop and Desktop Devices. -->
  <div class="block Large_Tablet_Devices_Size_View:hidden Small_Tablet_Devices_Size_View:hidden Large_Mobile_Devices_Size_View:hidden Medium_Mobile_Devices_Size_View:hidden Small_Mobile_Devices_Size_View:hidden">
    <div class="flex justify-center items-center h-screen w-full overflow-hidden bg-[#FAFAF9] font-Sora">
      <div class="flex justify-center items-center h-full w-full">
        <div class="flex justify-center items-center h-auto w-full p-20">
          <div class="flex flex-col justify-center items-center h-auto w-auto mr-5">
            <div class="mr-auto">
              <div class="my-4">
                <div class="bg-[#F5C044] h-10 w-10 rounded-full flex justify-center items-center">
                  <fa-icon [icon]="star" class="text-[#FFFFFF] text-xl"></fa-icon>
                </div>
              </div>
              <div class="my-4">
                <h1 class="text-4xl font-bold">{{title}}</h1>
              </div>
              <div class="my-4">
                <div class="max-w-[550px]">
                  <p class="text-xl text-left font-medium text-[#52525A] leading-relaxed">Reviewers is where people can access guidelines, checklists, and other tools to assist them in reviewing papers or manuscripts. It provides a structured approach to ensure that the review process is thorough, efficient, and consistent.</p>
                </div>
              </div>
              <div class="my-4">
                <!-- Loop through each task in the lists and display them -->
                <ul *ngFor="let tasks of lists">
                  <li class="flex justify-start items-center">
                    <img src="assets/images/Done_ring_round_fill.svg" alt="" class="mr-2 py-1" />
                    <p class="py-1 text-sm font-medium text-[#52525A]">{{tasks}}</p>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="flex flex-col justify-center items-center h-auto w-[600px] ml-5">
            <div class="my-4 ml-auto">
              <!-- Include Google component -->
              <app-google></app-google>
            </div>
            <div class="my-4 mr-auto">
              <!-- Include Meta component -->
              <app-meta></app-meta>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- This device can be implemented only in Large Tablet Devices. -->
  <div class="hidden Large_Tablet_Devices_Size_View:block Small_Tablet_Devices_Size_View:hidden Large_Mobile_Devices_Size_View:hidden Medium_Mobile_Devices_Size_View:hidden Small_Mobile_Devices_Size_View:hidden">
    <div class="flex justify-center items-center h-auto w-full overflow-x-hidden overflow-y-auto bg-[#FAFAF9] font-Sora">
      <div class="flex justify-center items-center h-full w-full">
        <div class="flex flex-col justify-center items-center h-auto w-full px-10 py-20">
          <div class="flex flex-col justify-center items-center h-auto w-full">
            <div class="mr-auto">
              <div class="my-4">
                <div class="bg-[#F5C044] h-10 w-10 rounded-full flex justify-center items-center">
                  <fa-icon [icon]="star" class="text-[#FFFFFF] text-xl"></fa-icon>
                </div>
              </div>
              <div class="my-4">
                <h1 class="text-4xl font-bold">{{title}}</h1>
              </div>
              <div class="my-4">
                <div class="w-[550px]">
                  <p class="text-xl text-left font-medium text-[#52525A] leading-relaxed">Reviewers is where people can access guidelines, checklists, and other tools to assist them in reviewing papers or manuscripts. It provides a structured approach to ensure that the review process is thorough, efficient, and consistent.</p>
                </div>
              </div>
              <div class="my-4">
                <!-- Loop through each task in the lists and display them -->
                <ul *ngFor="let tasks of lists">
                  <li class="flex justify-start items-center py-2">
                    <img src="assets/images/Done_ring_round_fill.svg" alt="" class="h-5 w-5 mr-2" />
                    <p class="text-sm font-medium text-[#52525A]">{{tasks}}</p>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="flex flex-col justify-center items-center h-full w-full">
            <div class="my-4 ml-auto">
              <!-- Include Google component -->
              <app-google></app-google>
            </div>
            <div class="my-4 mr-auto">
              <!-- Include Meta component -->
              <app-meta></app-meta>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- This device can be implemented only in Small Tablet Devices. -->
  <div class="hidden Large_Tablet_Devices_Size_View:hidden Small_Tablet_Devices_Size_View:block Large_Mobile_Devices_Size_View:hidden Medium_Mobile_Devices_Size_View:hidden Small_Mobile_Devices_Size_View:hidden">
    <div class="flex justify-center items-center h-auto w-full overflow-x-hidden overflow-y-auto bg-[#FAFAF9] font-Sora">
      <div class="flex justify-center items-center h-full w-full">
        <div class="flex flex-col justify-center items-center h-auto w-full px-10 py-20">
          <div class="flex flex-col justify-center items-center h-auto w-auto mr-5">
            <div class="mr-auto">
              <div class="my-4">
                <div class="bg-[#F5C044] h-10 w-10 rounded-full flex justify-center items-center">
                  <fa-icon [icon]="star" class="text-[#FFFFFF] text-xl"></fa-icon>
                </div>
              </div>
              <div class="my-4">
                <h1 class="text-4xl font-bold">{{title}}</h1>
              </div>
              <div class="my-4">
                <div class="max-w-[550px]">
                  <p class="text-xl text-left font-medium text-[#52525A] leading-relaxed">Reviewers is where people can access guidelines, checklists, and other tools to assist them in reviewing papers or manuscripts. It provides a structured approach to ensure that the review process is thorough, efficient, and consistent.</p>
                </div>
              </div>
              <div class="my-4">
                <!-- Loop through each task in the lists and display them -->
                <ul *ngFor="let tasks of lists">
                  <li class="flex justify-start items-start py-2">
                    <img src="assets/images/Done_ring_round_fill.svg" alt="" class="h-5 w-5 mr-2" />
                    <p class="text-sm font-medium text-[#52525A]">{{tasks}}</p>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="flex flex-col justify-center items-center h-auto w-full">
            <div class="my-4 ml-auto">
              <!-- Include Google component -->
              <app-google></app-google>
            </div>
            <div class="my-4 mr-auto">
              <!-- Include Meta component -->
              <app-meta></app-meta>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- This device can be implemented only in Large Mobile Devices. -->
  <div class="hidden Large_Tablet_Devices_Size_View:hidden Small_Tablet_Devices_Size_View:hidden Large_Mobile_Devices_Size_View:block Medium_Mobile_Devices_Size_View:hidden Small_Mobile_Devices_Size_View:hidden">
    <div class="flex justify-center items-center h-auto w-full overflow-x-hidden overflow-y-auto bg-[#FAFAF9] font-Sora">
      <div class="flex justify-center items-center h-full w-full">
        <div class="flex flex-col justify-center items-center h-auto w-full px-5 py-20">
          <div class="flex flex-col justify-center items-center h-auto w-auto mr-5">
            <div class="mr-auto">
              <div class="my-4">
                <div class="bg-[#F5C044] h-9 w-9 rounded-full flex justify-center items-center">
                  <fa-icon [icon]="star" class="text-[#FFFFFF] text-lg"></fa-icon>
                </div>
              </div>
              <div class="my-4">
                <h1 class="text-3xl font-bold">{{title}}</h1>
              </div>
              <div class="my-4">
                <div class="max-w-[550px]">
                  <p class="text-lg text-left font-medium text-[#52525A] leading-relaxed">Reviewers is where people can access guidelines, checklists, and other tools to assist them in reviewing papers or manuscripts. It provides a structured approach to ensure that the review process is thorough, efficient, and consistent.</p>
                </div>
              </div>
              <div class="my-4 mr-auto">
                <!-- Loop through each task in the lists and display them -->
                <ul *ngFor="let tasks of lists">
                  <li class="flex justify-start items-start py-1.5">
                    <img src="assets/images/Done_ring_round_fill.svg" alt="" class="h-4 w-4 mr-2" />
                    <p class="text-xs font-medium text-[#52525A]">{{tasks}}</p>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="flex flex-col justify-center items-center h-auto w-full">
            <div class="my-4">
              <!-- Include Google component -->
              <app-google></app-google>
            </div>
            <div class="my-4">
              <!-- Include Meta component -->
              <app-meta></app-meta>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- This device can be implemented only in Medium Mobile Devices. -->
  <div class="hidden Large_Tablet_Devices_Size_View:hidden Small_Tablet_Devices_Size_View:hidden Large_Mobile_Devices_Size_View:hidden Medium_Mobile_Devices_Size_View:block Small_Mobile_Devices_Size_View:hidden">
    <div class="flex justify-center items-center h-auto w-full overflow-x-hidden overflow-y-auto bg-[#FAFAF9] font-Sora">
      <div class="flex justify-center items-center h-full w-full">
        <div class="flex flex-col justify-center items-center h-auto w-full px-5 py-20">
          <div class="flex flex-col justify-center items-center h-auto w-auto mr-5">
            <div class="mr-auto">
              <div class="my-4">
                <div class="bg-[#F5C044] h-8 w-8 rounded-full flex justify-center items-center">
                  <fa-icon [icon]="star" class="text-[#FFFFFF] text-base"></fa-icon>
                </div>
              </div>
              <div class="my-4">
                <h1 class="text-2xl font-bold">{{title}}</h1>
              </div>
              <div class="my-4">
                <div class="max-w-[550px]">
                  <p class="text-base text-left font-medium text-[#52525A] leading-relaxed">Reviewers is where people can access guidelines, checklists, and other tools to assist them in reviewing papers or manuscripts. It provides a structured approach to ensure that the review process is thorough, efficient, and consistent.</p>
                </div>
              </div>
              <div class="my-4">
                <!-- Loop through each task in the lists and display them -->
                <ul *ngFor="let tasks of lists">
                  <li class="flex justify-start items-start py-1">
                    <img src="assets/images/Done_ring_round_fill.svg" alt="" class="h-4 w-4 mr-2" />
                    <p class="text-[10px] font-medium text-[#52525A]">{{tasks}}</p>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="flex flex-col justify-center items-center h-auto w-full">
            <div class="my-4">
              <!-- Include Google component -->
              <app-google></app-google>
            </div>
            <div class="my-4">
              <!-- Include Meta component -->
              <app-meta></app-meta>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- This device can be implemented only in Small Mobile Devices. -->
  <div class="hidden Large_Tablet_Devices_Size_View:hidden Small_Tablet_Devices_Size_View:hidden Large_Mobile_Devices_Size_View:hidden Medium_Mobile_Devices_Size_View:hidden Small_Mobile_Devices_Size_View:block">
    <div class="flex justify-center items-center h-auto w-full overflow-x-hidden overflow-y-auto bg-[#FAFAF9] font-Sora">
      <div class="flex justify-center items-center h-full w-full">
        <div class="flex flex-col justify-center items-center h-auto w-full px-5 py-20">
          <div class="flex flex-col justify-center items-center h-auto w-auto mr-5">
            <div class="mr-auto">
              <div class="my-4">
                <div class="bg-[#F5C044] h-7 w-7 rounded-full flex justify-center items-center">
                  <fa-icon [icon]="star" class="text-[#FFFFFF] text-sm"></fa-icon>
                </div>
              </div>
              <div class="my-4">
                <h1 class="text-xl font-bold">{{title}}</h1>
              </div>
              <div class="my-4">
                <div class="max-w-[550px]">
                  <p class="text-sm text-left font-medium text-[#52525A] leading-relaxed">Reviewers is where people can access guidelines, checklists, and other tools to assist them in reviewing papers or manuscripts. It provides a structured approach to ensure that the review process is thorough, efficient, and consistent.</p>
                </div>
              </div>
              <div class="my-4">
                <!-- Loop through each task in the lists and display them -->
                <ul *ngFor="let tasks of lists">
                  <li class="flex justify-start items-start py-1">
                    <img src="assets/images/Done_ring_round_fill.svg" alt="" class="h-3 w-3 mr-2" />
                    <p class="text-[8px] font-medium text-[#52525A]">{{tasks}}</p>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="flex flex-col justify-center items-center h-auto w-full">
            <div class="my-4">
              <!-- Include Google component -->
              <app-google></app-google>
            </div>
            <div class="my-4">
              <!-- Include Meta component -->
              <app-meta></app-meta>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</main>
